<%- include("../../partials/header.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>New Article</h2>
            </div>
            <div class="card-body">
                <form action="/articles/save" method="POST">
                    <input class="form-control" type="text" name="title" placeholder="Set article title...">
                    <br>
                    <textarea id="article" name="body" class="form-control" cols="30" rows="10" placeholder="Type here your article"></textarea>
                    <br>
                    <select name="category" class="form-control">
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id %>"> <%= category.title %> </option>
                        <% })%>
                    </select>
                    <br>
                    <button class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
<%- include("../../partials/footer.ejs") %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            'advlist',
            'autolink',
            'link',
            'image',
            'print',
            'preview',
            'hr',
            'searchreplace',
            'wordcount',
            'fullscreen',
            'insertdatetime',
            'media',
            'save',
            'table',
            'paste',
            'emoticons'
        ]
    })
</script>