<%- include("../../partials/header.ejs") %>
<body>
    <%- include("../../partials/navbar.ejs") %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edit Category</h2>
            </div>
            <div class="card-body">
                <form action="/categories/update" method="POST">
                    <input class="form-control" type="text" name="title" value="<%= category.title %>" placeholder="Set category title...">
                    <input type="hidden" name="id" value="<%= category.id %>">
                    <br>
                    <button class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
<%- include("../../partials/footer.ejs") %>